$black: #202020;
$darkGrey: #4A4A4A;
$grey: #999999;
$lightGrey: #CACACA;
$darkWhite: #E9E9E9;
$white: #FFFFFF;
$mainOrange: #FF6E30;
$brown: #BC572B;
$orangeActive: #CE4307;
$rose :#F06666;
$red: #FF3030;
$beige: #FFD4C1;

$gap: 30px;
$sectionPadding: 69px;
